@font-face {
    font-family: "Space Grotesk";
    src: url(SpaceGrotesk-Regular.woff2) format("woff2");
}

body{
    background: rgb(190, 189, 189);
    font-family: sans-serif;
    line-height: 1.5;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
}

h1{
    margin: 0;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

p{
    max-width: 400px;
}

/* header */

.header{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;align-items: center;

}

.header a{
    text-decoration: none;
    color: currentColor;
    background: white;
}

.nav{
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    justify-content: center;
    gap: 10px;
}

.nav a{
    text-decoration: none;
    color: currentColor;
    background: white;
}

.nav a span{
    display: block;
    padding: 1px;
}



/* projet */

.project{
    background: grey;
}


.project p{
    font-size: 16px;
}