body{
    background: rgb(190, 189, 189);
    font-family: sans-serif;
}

h1{
    margin: 0;
}

/* header */

.header{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;align-items: center;

}

.header a{
    text-decoration: none;
    color: currentColor;
}

.nav{
    display: grid;
}

.nav a{
    text-decoration: none;
    color: currentColor;
    font-size: 46px;
    border-bottom: 1px solid black;
}



/* projet */

.project{
    background: grey;
}


.project p{
    font-size: 16px;
}